{% extends 'base.html' %}
{% load static %}
{% load render_bundle from webpack_loader %}


    {% block css %}
    {% render_bundle "chunk-vendors" "css" "djvue_app2" %}
    {% render_bundle "app" "css" "djvue_app2" %}
    {% endblock css %}


{% block content %}
<div id="app"></div>
{% endblock %}
{% block scripts %}
<script src="{% static 'django_airavata_api/dist/airavata-api.js' %}"></script>
    <script>

    </script>
{% render_bundle "chunk-vendors" "js" "djvue_app2" %}
{% render_bundle "app" "js" "djvue_app2" %}
{% endblock %}


