{% load static %}
        <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script src="{% static '/geogateway_django_app/js/map-tools.js' %}"></script>
    <div>
        <input type="checkbox" name="kml" v-model="isKML">
        <label for="shipper">Upload KML File</label>
    </div>
    <div>
        <div>
      <input class="tools-checkbox" type="checkbox" id="maptools.UCERF3FaultLayer" name="active-tools" value="fault-layer" onclick="showUCERF3FaultLayer('black')"/>
      <span class="default-font">UCERF3 Faults</span>
      <div id="div_ucerf3color" style="display: none;">
			<form>
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="black" checked=True>black
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="yellow">yellow
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="red">red
			<input type="radio" name="ucerf3color" onclick="showUCERF3FaultLayer(this.value)" value="grey">grey
			</form>
		</div>
    </div>
    </div>
    <div>
        <input type="checkbox" name="boundaries" v-model="isBoundaries">
        <label for="trucker">Show State Boundaries</label>
    </div>
    <div>
        <input type="checkbox" name="coasts" v-model="isCoasts">
        <label for="warehouse">Show Coastlines</label>
    </div>
    <div>
        <input type="checkbox" name="location" v-model="isLocation">
        <label for="warehouse">Show Your Location</label>
    </div>


    <b-card-body>
    <div id="showKML" v-show="isKML">
        {% include 'geogateway_django_app/kml-upload.html' %}
    </div>

    <div id="showUCERF3" v-show="isUCERF3">

    </div>

    <div id="showBoundaries" v-show="isBoundaries">
        <label>I'm a trucker</label>
    </div>

    <div id="showCoasts" v-show="isCoasts">
        <label>I'm a warehouse</label>
    </div>

    <div id="showLocation" v-show="isLocation">
        <label>I'm a warehouse</label>
    </div>
        </b-card-body>


{##}
{#<script>#}
{#omnivore.kml('a.kml').addTo(mymap);#}
{#</script>#}