{% extends 'tools-panel.html' %}
{% load static %}

{% block scripts %}
{#    Vue components#}
<!--GoogleMaps -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJMC7Grn47WwNYFaDKHNPnATOLYqimyFk&callback=initMap">
</script>
<script type="text/javascript" src={% static '/geogateway_django_app/js/map.js' %}></script>
<!--Local libraries -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

<script>

    var example1 = new Vue({
        el: '#map-tools',
        delimiters: ['[[', ']]'],
        data: {
            counter: 0
        }
    })

    new Vue({ el: '#app' });

    new Vue({ el: '#side-panel' });
</script>

{% endblock %}