@import url('https://fonts.iu.edu/style.css?family=BentonSans:regular,bold|BentonSansCond:regular|GeorgiaPro:regular');

$font-family-sans-serif: BentonSans Regular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: BentonSans Regular, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: BentonSans Regular, $font-family-sans-serif !default;


//$alert-padding-y: .75rem !default;
//$alert-padding-x: 1.25rem !default;
//$alert-margin-bottom: 1rem !default;
//$alert-border-radius: 0px !default;
//$alert-link-font-weight:            $font-weight-bold !default;
$alert-border-width: 0px !default;

//$alert-bg-level: -12 !default;
//$alert-border-level: 0 !default;
//$alert-color-level: 6 !default;


// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
// BootstrapVue and its default variables
@import '~bootstrap-vue/src/index.scss';

.alert {
  background-color: white;
  box-shadow: 0px 0px 2px 0px #0000007a;
  margin: 5px;
  border-radius: 3px;
}

hr {
  margin: 12px 0px 0px 5px;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}